/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c6e431, #5d35eb);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

/* Product List Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.product-card img {
    width: 150px;  /* Set your desired width */
    height: 150px; /* Set your desired height */
    object-fit: cover; /* Ensure the image covers the set area */
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #f1f1f1;
}

.product-card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #bdbdbd;
}

/* Add to Favorites Button Styles */
.favorite-button {
    background-color: #ff0055;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.favorite-button:hover {
    background-color: #00b333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Back Button Styles */
.back-button {
    background-color: #1418f5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #1ef80a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Footer Styles (Optional) */
footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
